.nav--icons {
    font-size: 2em;
}

.nav--icons > * {
    cursor: pointer;
    margin-left: 20px;
}

.input {
    height: 38px;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin-top: 8px;
    outline: none;
    padding: 8px;
}

.top-search-bar {
    display: flex;
    align-items: center;
}

.top-search-bar input {
    margin-top: 0px;
}

@media (max-width: 750px) {
    .top-search-bar {
        display: none;
    }
}
