.nav--icons {
    font-size: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav--icons > * {
    cursor: pointer;
    margin-left: 20px;
}

.input {
    height: 38px;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin-top: 8px;
    outline: none;
    padding: 8px;
}

.top-search-bar {
    display: flex;
    align-items: center;
}

.top-search-bar input {
    margin-top: 0px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.295);
}

@media (max-width: 800px) {
    .top-search-bar {
        display: none;
    }
}
