.all-cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1 0 200px;
    min-width: 250px;
    height: 250px;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 25px;
    -webkit-font-smoothing: subpixel-antialiased;
    transform: translateZ(0);
    backface-visibility: hidden;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.295);
    transition: all 120ms ease-in;
    transition-property: transform, box-shadow;
}

.hovered {
    transform: scale(1.03);
    box-shadow: 5px 8px 15px 0px rgba(0, 0, 0, 0.295);
}

.card--data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.card--icons {
    margin: 0 auto;
}

.card--icons > * {
    margin: 0 10px;
    cursor: pointer;
}

.card--title {
    text-align: center;
    font-size: 1.25rem;
}

.card span {
    font-size: 2rem;
    margin-right: 5px;
}

span .dollar {
    font-size: 1.5rem;
}

@media (max-width: 500px) {
    .card {
        flex-basis: auto;
        width: 90%;
    }
}
