.card {
    width: 200px;
    height: 200px;
    background-color: rgba(119, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card--data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.card--title {
    text-align: center;
}

.card span {
    font-size: 2rem;
}
