.nav--icons {
    font-size: 2em;
}

.nav--icons > * {
    cursor: pointer;
    margin-left: 20px;
}

.input {
    height: 38px;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin-top: 8px;
    outline: none;
    padding: 8px;
}
