.nav--icons {
    font-size: 2em;
}

.nav--icons > * {
    cursor: pointer;
    margin-left: 20px;
}

.input {
    height: 38px;
    border: 2px solid #aaa;
    border-radius: 10px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
}
